@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body {
    background: url(https://images8.alphacoders.com/133/1331544.png);
    background-size: cover;
    /* background-position: center; */
    height: 100vh;
}
.navbar {
    margin: 60px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
}

.logo {
    color: black;
    padding-left: 40px;
}
.selection ul {
    list-style-type: none;
    display: flex;
    padding-right: 30px;
}
.selection a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}

.selection a :hover {
    color: orange;
}
.imaging {
    padding:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgme {
    border: 2px white solid;
    width: 300px;
    height: 300px;
}

.introduce {
    padding-left: 30px;
}

#intro {
    color: white;
}

#info {
    font-size: 20px;
    color: aliceblue;
}

span {
    color: rgb(0, 247, 255);
}

.contact {
    padding-left: 30px;
    padding-top: 30px;
}

.logocon {
    padding-top: 10px;
}

.bggit {
    width: 50px;
    height: 50px;
    background: rgb(250, 254, 255);
    border: 2px black solid;
    border-radius: 10px;
}